{
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "bracketSameLine": true
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
