{
  "bracketSpacing": false,
  "singleQuote": true,
  "printWidth": 140,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "bracketSameLine": true
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
