{% extends '../common/layout.twig' %}

{% block main %}
	<main>
		<section>
			<div class="container">
				<h1>Разводящая страница</h1>
				<ol>
					<li><a href="index.html">Главная — index.html</a></li>
				</ol>
			</div>
		</section>
	</main>
{% endblock %}
