.advantages {
  padding-top: 123px;

  @media ($tablet-mobile) {
    padding-top: 80px;
  }

  @media ($mobile) {
    padding-top: 50px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media ($mobile) {
    display: block;
  }
}

.advantages__list-item {
  position: relative;
  border: 1px solid #e5e5e5;
  padding: 93px 40px 0 45px;
  min-height: 300px;

  @media ($tablet-mobile) {
    padding: 93px 43px 0 39px;
    min-height: 360px;
  }

  @media ($mobile) {
    padding: 74px 30px 39px;
    min-height: 340px;
    margin-bottom: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: $color-deep-sky-blue;
  }

  &::after {
    content: "";
    position: absolute;
    top: 39px;
    left: 45px;
    width: 35px;
    height: 35px;
    mask-repeat: no-repeat;
    background-color: $color-deep-sky-blue;

    @media ($mobile) {
      width: 30px;
      height: 30px;
      mask-size: 30px 30px;
    }
  }

  &--fast {
    &::after {
      mask-image: url("../img/sprite/icon-watch.svg");

      @media ($mobile) {
        top: 30px;
        left: 30px;
      }
    }
  }

  &--big-suppler {
    &::after {
      mask-image: url("../img/sprite/icon-people.svg");

      @media ($mobile) {
        top: 30px;
        left: 30px;
      }
    }
  }

  &--confidential {
    @media ($mobile) {
      min-height: 326px;
    }

    &::after {
      left: 40px;
      mask-image: url("../img/sprite/icon-spy.svg");

      @media ($mobile) {
        top: 30px;
        left: 30px;
      }
    }
  }

  &--personalisation {
    @media ($mobile) {
      min-height: 326px;
    }

    &::after {
      mask-image: url("../img/sprite/icon-price.svg");

      @media ($mobile) {
        top: 27px;
        left: 30px;
      }
    }
  }

  &:hover {
    background-color: $color-deep-sky-blue;

    &::after {
      background-color: #f2f5f6;
    }

    h3,
    p {
      color: #f2f5f6;
    }
  }
}

.advantages h3 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-family: $ff-roboto-condensed;
  line-height: 34px;
  font-weight: 400;
  color: $color-deep-sky-blue;

  @media ($tablet-mobile) {
    margin: 0 0 6px;
  }

  @media ($mobile) {
    font-size: 20px;
  }
}

.advantages p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  color: $color-black-pearl;

  @media ($mobile) {
    font-size: 14px;
    line-height: 19px;
  }
}
