.footer {
  padding: 48px 0 0;
  background-color: $color-black-pearl;

  @media ($mobile) {
    padding: 35px 0 0;
  }
}

.footer__title {
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: $color-default-white;
  text-transform: uppercase;
}

.footer ul {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  list-style: none;
  color: $color-default-white;

  @media ($mobile) {
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0 9px 9px;

  @media ($tablet-mobile) {
    padding: 7px 0 0;
  }

  @media ($mobile) {
    padding: 9px 0 17px;
  }
}

.footer__social-link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--ok {
    background-image: url("../img/sprite/icon-ok.svg");
  }

  &--vk {
    background-image: url("../img/sprite/icon-vk.svg");
  }

  &--pin {
    background-image: url("../img/sprite/icon-pint.svg");
  }
}

.footer__social-list-item {
  margin-right: 15px;

  @media ($tablet-mobile) {
    margin-right: -6px;
    margin-left: 21px;
  }

  @media ($mobile) {
    margin-right: -19px;
    margin-left: 35px;
  }
}

.footer__info {
  padding: 10px 0 0 10px;

  @media ($tablet-mobile) {
    padding: 40px 0 0;
  }

  @media ($mobile) {
    position: relative;
    padding: 22px 25px;
    border-top: 1px solid $color-alice-blue;
    border-bottom: 1px solid $color-alice-blue;
  }
}

.footer__info-list-item {
  margin: 0 30px 10px 0;

  @media ($tablet-mobile) {
    margin-bottom: 0 0 8px;
  }

  &:last-child {
    margin: 0 30px 44px 0;

    @media ($tablet-mobile) {
      margin: 0 0 8px;
    }
  }
}

.footer__info-list {
  column-count: 2;
  padding: 20px 0 0;

  @media ($tablet-mobile) {
    column-count: 1;
  }
}

.footer__contacts {
  padding: 8px 0 0 20px;

  @media ($tablet-mobile) {
    padding: 40px 0 0 15px;
  }

  @media ($mobile) {
    position: relative;
    padding: 22px 25px;
    border-bottom: 1px solid $color-alice-blue;
  }
}

.footer__contacts-list {
  padding: 23px 0 0;

  @media ($tablet-mobile) {
    padding: 20px 0 0;
  }
}

.footer__contacts-list-item {
  margin-bottom: 7px;

  @media ($tablet-mobile) {
    margin-bottom: 14px;
  }
}

.footer__contacts-list-item address {
  font-style: normal;
}

.footer__social {
  @media ($tablet-mobile) {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
  }

  @media ($mobile) {
    display: block;
    padding: 0 50px 7px;
  }
}

.footer__button {
  display: none;
}

.shows-button {
  @media ($mobile) {
    position: absolute;
    top: 20px;
    right: 26px;
    display: block;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-image: url("../img/sprite/icon-plus.svg");
    background-repeat: no-repeat;
    border: none;
  }
}

.shows-button.is-active {
  @media ($mobile) {
    background-image: url("../img/sprite/icon-minus.svg");
  }
}

.footer ul.is-hidden-list {
  @media ($mobile) {
    display: none;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: 30% 1fr 1fr;

  @media ($tablet-mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media ($mobile) {
    display: block;
    padding: 0 0 35px 0;
  }
}

.footer__logo {
  @media ($mobile) {
    display: block;
    margin-bottom: 6px;
  }
}
