.form__header {
  margin: 0 0 12px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  line-height: 50px;
  font-size: 32px;
  letter-spacing: 0;

  @media ($tablet-mobile) {
    margin: 0 0 7px;
  }

  @media ($mobile) {
    font-size: 30px;
    line-height: 42px;
    margin: 0 0 10px;
    letter-spacing: -2px;
  }

  &--modal {
    margin: 0;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -1px;
  }
}

.form__text {
  margin: 0 0 39px;
  padding: 0 0 0 4px;
  font-size: 16px;
  line-height: 22px;

  @media ($tablet-mobile) {
    margin: 0 0 25px;
    padding: 0;
  }

  @media ($mobile) {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 34px;
  }

  &--modal {
    padding: 0 20px 0;
  }
}

.form fieldset {
  display: grid;
  margin: 0;
  padding: 0;
  border: none;
}

.form input:not([type="checkbox"]) {
  padding: 15px 15px;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin-bottom: 20px;
  border: none;
  height: 50px;
  width: 100%;
  background-color: #019bdf;
  border-radius: 3px;
}

.form input {
  &::placeholder {
    color: $color-default-white;
  }
}

.form textarea {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  min-height: 155px;
  background-color: #019bdf;
  border: none;
  border-radius: 3px;
  padding: 22px 15px;
  margin-bottom: 15px;
  width: 100%;

  @media ($tablet-mobile) {
    padding: 29px 15px;
  }

  @media ($mobile) {
    min-height: 180px;
    padding: 23px 15px;
    margin: 0;
  }

  &::placeholder {
    color: $color-default-white;
  }
}

.form__group [type="submit"] {
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  color: $color-default-white;
  border: none;
  background-color: $color-black-pearl;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 13px 25px;
  width: 266px;
  letter-spacing: -1px;
  cursor: pointer;
  margin-top: 20px;

  @media ($tablet-mobile) {
    margin-top: 20px;
  }

  @media ($mobile) {
    display: block;
    margin: 30px auto 0;
    width: 270px;
    padding: 16px 25px 11px;
  }
}

.form label [type="checkbox"] {
  position: relative;
}

.form [type="checkbox"] {
  position: absolute;
  top: 29px;
  left: 9px;
  appearance: none;

  @media ($tablet-mobile) {
    top: 25px;
    left: -1px;
  }

  @media ($mobile) {
    top: 19px;
    left: 6px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 2px solid $color-default-white;
    border-radius: 2px;
  }

  &:checked {
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 3px;
      width: 9px;
      height: 6px;
      mask-image: url("../img/sprite/icon-check.svg");
      background-color: $color-default-white;
    }
  }
}

.form span {
  display: block;
  padding: 13px 0 0 36px;

  @media ($tablet-mobile) {
    padding: 9px 0 0 24px;
  }

  @media ($mobile) {
    padding: 4px 0 0 31px;
  }
}

.form__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 31px;
  align-items: start;
  margin: 0;
  padding: 0 0 0 4px;
  border: none;

  @media ($tablet-mobile) {
    padding: 0;
  }

  @media ($mobile) {
    display: block;
  }
}

.form__group-alter {
  margin: 0;

  &--text {
    grid-template-columns: 1fr;
  }
}

.form__group-alter--bottom [type="submit"] {
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  color: $color-default-white;
  border: none;
  background-color: $color-black-pearl;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 14px 25px 13px 25px;
  width: 100%;
  letter-spacing: -1px;
  cursor: pointer;
  margin-top: 10px;
}

.form__group-alter--bottom span {
  padding: 0 0 0 36px;
}

.form__group-alter--bottom [type="checkbox"] {
  top: 7px;
  left: 9px;
}
