.form {
  position: relative;
  padding: 166px 0 245px 0;
  background-color: $color-deep-sky-blue;
  color: $color-default-white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -137px;
    bottom: 0;
    width: 59%;
    background-color: rgba(4, 24, 39, 0.5);
    clip-path: polygon(0 0,100% 0,0 100%);
  }
}

.form form {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 700px;
    bottom: 67px;
    width: 510px;
    height: 285px;
    background-image: url(../img/airplane.png);
    background-repeat: no-repeat;
  }
}

.form h3 {
  margin: 0 0 12px 0;
  font-family: "Roboto-Condensed";
  font-weight: 400;
  line-height: 50px;
  font-size: 36px;
}

.form p {
  margin: 0 0 35px 0;
  padding-left: 4px;
  font-size: 16px;
  line-height: 22px;
}

.form-container {
  width: 50%;
  margin-left: auto;
  padding: 0 10px 0 15px;
}

.form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 31px;
  align-items: start;
  margin: 0;
  padding: 0 0 0 4px;
  border: none;
}

.form input:not([type="checkbox"]){
  padding: 15px 15px;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin-bottom: 20px;
  border: none;
  height: 50px;
  width: 100%;
  background-color: #019bdf;
  border-radius: 3px;
}

.form input {
  &::placeholder {
    color: $color-default-white;
  }
}

.form textarea {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  width: 580px;
  min-height: 155px;
  background-color: #019bdf;
  border: none;
  border-radius: 3px;
  padding: 22px 15px;

  &::placeholder {
    color: $color-default-white;
  }
}

.form__text-area {
  grid-column: 1/-1;
  margin-bottom: 35px;
}

.form button {
  font-family: "Roboto-Condensed";
  font-weight: 700;
  font-size: 16px;
  color: $color-default-white;
  border: none;
  background-color: $color-black-pearl;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 13px 25px;
  width: 266px;
  letter-spacing: 1px;
  cursor: pointer;
}

.form__checkbox-label {
  position: relative;
}

.form__checkbox {
  position: absolute;
  top: 22px;
  left: 9px;
  appearance: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 15px;
    height: 15px;
    border: 2px solid $color-default-white;
    border-radius: 2px;
  }

  &:checked {
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 3px;
      width: 9px;
      height: 6px;
      mask-image: url(../img/sprite/icon-check.svg);
      background-color: $color-default-white;
    }
  }
}

.form__checkbox-label span {
  display: block;
  padding: 15px 0 0 36px;
}
