.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(180deg, #041827 80.9%, rgba(4, 24, 39, 0) 100%);

  @media ($tablet-mobile) {
    position: absolute;
  }
}

.header__top {
  display: flex;
  padding: 30px 0 35px;

  @media ($tablet-mobile) {
    padding: 20px 0 35px;
  }

  @media ($mobile) {
    padding: 15px 0 35px;
  }
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  color: $color-default-white;

  @media ($mobile) {
    padding: 0;
  }
}

.header__nav-link {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 18px;

  @media ($tablet-mobile) {
    display: block;
    width: 20px;
    height: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 20px;
    mask-repeat: no-repeat;
    background-color: $color-deep-sky-blue;

    @media ($tablet-mobile) {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &--mail {
    &::before {
      top: 0;
      left: -35px;
      mask-image: url("../img/sprite/icon-mail.svg");
    }
  }

  &--phone {
    &::before {
      top: 0;
      left: -35px;
      mask-image: url("../img/sprite/icon-phone.svg");
    }
  }
}

.header__logo {
  margin-right: 49px;

  @media ($tablet-mobile) {
    margin: 0;
  }

  @media ($mobile) {
    width: 37px;
    overflow: hidden;
    margin-right: auto;
  }
}

.header__nav-list-item {
  margin-left: 136px;
  padding: 15px 10px;

  &:nth-last-child {
    @media ($mobile) {
      margin: 0;
    }
  }

  @media ($tablet-mobile) {
    margin-left: 10px;
    padding: 10px 15px;
  }

  @media ($mobile) {
    padding: 5px 20px;
    margin: 0;
  }
}

.header__callback-button {
  font-size: 14px;
  line-height: 16px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-alice-blue;
  background-color: transparent;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  align-self: baseline;
  margin: 5px 0 0 155px;
  padding: 11px 11px;
  flex-shrink: 0;
  cursor: pointer;

  @media ($tablet-mobile) {
    display: none;
  }
}

.header__nav-link-text {
  @media ($tablet-mobile) {
    display: none;
  }
}

.header__nav {
  @media ($tablet-mobile) {
    margin-left: auto;
  }
}

.header__logo-image {
  @media ($mobile) {
    max-width: 140px;
  }
}
