.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba($color-black-pearl-dark, 0.7);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity $trans-modal, transform $trans-modal, visibility $trans-modal;
  pointer-events: none;

  &__content {
    position: relative;
    max-width: 500px;
    margin: 146px auto;
    padding: 40px;
    color: $color-default-white;
    background-color: $color-deep-sky-blue;

    @include vp-767 {
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    width: 40px;
    height: 40px;
    color: inherit;
    background-color: $color-transparent;
    background-image: url("../img/sprite_auto.svg#icon-close");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 20px;
    border: none;
    cursor: pointer;

    @include default-interactive;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &--dev {
    position: absolute;

    .modal__content {
      @media (min-width: 1024px) {
        margin-top: 146px; // Pixelperfect
        transform: translateX(-8px); // Pixelperfect
      }
    }
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}
