.promo {
  position: relative;
  background-color: $color-black-pearl;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media ($desktop) {
    @include adaptive-bg("background-desktop");
  }

  @media ($tablet-desktop) {
    @include adaptive-bg("background-tablet");
  }

  @media ($mobile) {
    @include adaptive-bg("background-mobile");
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(25, 32, 36, 0.7) 71.72%,
      rgba(25, 32, 36, 0) 100%
    );
  }
}

.promo h2 {
  margin: 0 0 32px 0;
  padding: 0;
  font-size: 80px;
  line-height: 94px;
  font-family: "Roboto-Condensed";
  font-weight: 700;
  text-transform: uppercase;
  color: $color-alice-blue;
  letter-spacing: 6px;

  @media ($tablet-mobile) {
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4px;
    margin: 0;
  }

  @media ($mobile) {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 4px;
    margin: 0 0 8px 0;
  }
}

.promo p {
  margin: 0 0 47px 0;
  font-size: 22px;
  line-height: 155%;
  color: $color-alice-blue;
  padding-right: 400px;

  @media ($tablet-mobile) {
    margin: 0 0 58px 0;
    padding-right: 60px;
  }

  @media ($mobile) {
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 44px 0;
  }
}

.promo a {
  display: inline-block;
  padding: 17px 25px;
  font-family: "Roboto-Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  background-color: $color-deep-sky-blue;
  border: none;
  border-radius: 3px;
  color: #f2f5f6;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media ($tablet-mobile) {
    margin-left: 45px;
  }

  @media ($mobile) {
    display: block;
    margin: 0 auto;
    padding: 12px 34px;
    font-size: 14px;
    line-height: 16px;
  }
}

.promo__container {
  position: relative;
  padding: 304px 0 280px 125px;

  @media ($tablet-mobile) {
    padding: 179px 0 205px 0px;
  }

  @media ($mobile) {
    padding: 150px 0 190px 0px;
  }
}
