.service {
  padding: 66px 0 140px;
  background-color: $color-black-pearl;

  @media ($tablet-mobile) {
    padding: 56px 0 45px;
  }
}

.service h3 {
  font-family: "Roboto-Condensed";
  font-weight: 400;
  font-size: 36px;
  color: $color-default-white;
  line-height: 50px;
  margin: 0;
}

.service ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 85px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media($tablet-mobile) {
    display: block;
    padding-top: 39px;
  }
}

.service a {
  position: relative;
  display: block;
  padding: 50px 40px;
  font-family: "Roboto-Condensed";
  color: $color-default-white;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  min-height: 650px;

  @media($tablet-mobile) {
    padding: 36px 44px;
    min-height: 250px;
  }

  &::before {
    content: "";
    bottom: 0;
    right: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    border-radius: 3px 0px 0px 0px;
  }

  &::after {
    content: "";
    bottom: 21px;
    right: 25px;
    position: absolute;
    width: 6px;
    height: 14px;
    background-color: $color-default-white;
    mask-repeat: no-repeat;
    mask-image: url(../img/sprite/icon-arrow.svg);
  }
}

.service li {

  &:nth-child(1) {
    & a {
      background-image: url("../img/background-card-desktop-1.jpg");
    }
  }

  &:nth-child(2) {
    & a {
      background-image: url("../img/background-card-desktop-2.jpg");
    }
  }

  &:nth-child(3) {
    & a {
      background-image: url("../img/background-card-desktop-3.jpg");
    }
  }
}


.service li {
  padding-top: 54px;

  @media($tablet-mobile) {
    margin-bottom: 30px;
    padding: 0;
  }
}
