.service {
  padding: 66px 0 140px;
  background-color: $color-black-pearl;

  @media ($tablet-mobile) {
    padding: 56px 0 45px;
  }

  @media ($mobile) {
    padding: 46px 0 56px;
  }
}

.service h3 {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  color: $color-default-white;
  line-height: 50px;
  margin: 0;

  @media ($mobile) {
    font-size: 28px;
    line-height: 40px;
    padding-right: 20px;
  }
}

.service ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 85px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media ($tablet-mobile) {
    display: block;
    padding-top: 39px;
  }

  @media ($mobile) {
    display: block;
    padding-top: 28px;
  }
}

.service a {
  position: relative;
  display: block;
  padding: 50px 40px;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  min-height: 650px;
  background-size: cover;
  background-color: $color-black-pearl-dark;

  @media ($tablet-mobile) {
    padding: 36px 44px;
    min-height: 250px;
  }

  @media ($mobile) {
    font-size: 18px;
    padding: 25px 30px;
  }

  &::before {
    content: "";
    bottom: 0;
    right: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    border-radius: 3px 0 0 0;

    @media ($mobile) {
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    content: "";
    bottom: 21px;
    right: 25px;
    position: absolute;
    width: 6px;
    height: 14px;
    background-color: $color-default-white;
    mask-repeat: no-repeat;
    mask-image: url("../img/sprite/icon-arrow.svg");

    @media ($mobile) {
      mask-size: 7px 7px;
      bottom: 9px;
      right: 16px;
    }
  }
}

.service li {
  padding-top: 54px;

  @media ($tablet-mobile) {
    margin-bottom: 30px;
    padding: 0;
  }
}

.service__link {
  &--production {
    @include adaptive-bg("background-card-desktop-1");

    @media ($tablet-mobile) {
      @include adaptive-bg("background-card-tablet-1");
    }

    @media ($mobile) {
      @include adaptive-bg("background-card-mobile-1");
    }
  }

  &--assembly {
    @include adaptive-bg("background-card-desktop-2");

    @media ($tablet-mobile) {
      @include adaptive-bg("background-card-tablet-2");
    }

    @media ($mobile) {
      @include adaptive-bg("background-card-mobile-2");
    }
  }

  &--kit {
    @include adaptive-bg("background-card-desktop-3");

    @media ($tablet-mobile) {
      @include adaptive-bg("background-card-tablet-3");
    }

    @media ($mobile) {
      @include adaptive-bg("background-card-mobile-3");
    }
  }
}
