<section class="feedback" id="feedback">
	<div class="container">
		<div class="feedback__container form">
			<h2 class="form__header">Остались вопросы? Задайте их нам!</h2>
			<p class="form__text">Мы проконсультируем Вас бесплатно</p>
			<form action="https://echo.htmlacademy.ru/courses" method="get" data-form="">
				<fieldset>
					<legend class="visually-hidden">Форма обратной связи.</legend>
					<p class="form__group">
						<label>
							<span class="visually-hidden">Введите ваше имя.</span>
							<input type="text" placeholder="Имя" name="name" pattern="^[A-Za-zА-Яа-яЁё\- ]+$" required/>
						</label>
						<label>
							<span class="visually-hidden">Введите ваш номер телефона.</span>
							<input type="tel" placeholder="Телефон" name="phone" pattern="^\+7\(\d{3}\)\d{7}$" data-mask="+7(###)#######" required/>
						</label>
					</p>
					<p class="form__group-alter">
						<label>
							<span class="visually-hidden">Введите ваш вопрос.</span>
							<textarea placeholder="Ваш вопрос" name="message"></textarea>
						</label>
					</p>
				</fieldset>
				<fieldset>
					<legend class="visually-hidden">Согласие на обработку персональных данных</legend>
					<p class="form__group">
						<button type="submit">задать вопрос</button>
						<label>
							<input name="agreement" type="checkbox" checked required/>
							<span>Я согласен на обработку персональных данных</span>
						</label>
					</p>
				</fieldset>
			</form>
		</div>
	</div>
</section>
