<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ projectName }}</title>
		<link rel="stylesheet" href="css/style.min.css">
	</head>

	<body>
		{% block main %}{% endblock %}

		{% include 'scripts.twig' %}
	</body>
</html>
