.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 50px;

  @media ($mobile) {
    padding: 0 25px;
  }

  &--footer {
    display: grid;
    grid-template-columns: 30% 1fr 1fr;

    @media ($tablet-mobile) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media ($mobile) {
      display: block;
      padding: 0 0 35px 0;
    }
  }
}
