*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  font-size: $fz_default;
  line-height: 1.34375;
  font-family: $ff-roboto-condensed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; // оптимизация выравнивания шрифта относительно центра строки
  // если по прежнему есть проблемы с выравниванием
  // https://transfonter.org/ - включите настройку https://prnt.sc/12rnt6g и переконвертируйте шрифт
}

body {
  margin: 0;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

// ios button \ inputs reset
select,
textarea,
input:matches([type="email"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"], [type="url"]),
button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

// firefox placeholder \ invalid fix + ios bdrs
input,
textarea {
  border-radius: 0;

  &::placeholder {
    opacity: 1;
  }

  &:invalid {
    box-shadow: none;
  }
}

textarea {
  resize: none;
}

select {
  border-radius: 0;
}

// ie11 X removal
input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  // chrome autofill background removal
  // если на проекте у инпутов используются разные цвета фонов\текста -
  // удалите это из глобала и используйте локально с нужными цветами
  // rgba не подойдет, сконвертируйте цвет в hex без прозрачности
  // если в стилях уже используется box-shadow есть другое решение -
  // задать к списку транзишенов `background-color 10000000s ease-out`
  &:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px $color-default-white;
    -webkit-text-fill-color: $color-default-black;
  }

  // chrome search X removal
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance: none;
  }

  // input[number] arrows removal
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;

    appearance: none;
  }

  &[type="number"] {
    appearance: textfield;
  }
}
