@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@mixin default-interactive($active: true) {
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }

  @if $active {
    @include active {
      opacity: 0.5;
    }
  }
}

@mixin btn {
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: $ff-roboto-condensed;
  text-transform: uppercase;
  text-align: center;
  color: $color-alice-blue-light;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include default-interactive;
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin adaptive-bg($filename, $ext: "jpg") {
  $webp: url("../img/#{$filename}.webp");
  $webp-2x: url("../img/#{$filename}@2x.webp");

  @supports not (background-image: $webp) {
    background-image: url("../img/#{$filename}.#{$ext}");
  }

  @supports (background-image: $webp) {
    background-image: $webp;
  }

  @include retina {
    @supports not (background-image: $webp-2x) {
      background-image: url("../img/#{$filename}@2x.#{$ext}");
    }

    @supports (background-image: $webp-2x) {
      background-image: $webp-2x;
    }
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover,
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &:focus-visible {
    @content;
  }

  @supports not selector(:focus-visible) {
    &.focus-visible:focus {
      @content;
    }
  }
}

@mixin active {
  @media (hover: hover) {
    &:active,
    &:hover:active,
    &.focus-visible:active {
      @content;
    }
  }
}

@mixin hover-focus {
  @include hover {
    @content;
  }

  @include focus {
    @content;
  }
}

@mixin mask($icon) {
  mask: url("../img/sprite_auto.svg##{$icon}") no-repeat center / 100%;
}

// Desktop first

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}
